torchvision==2.8.0
torchaudio==2.8.0
causal-conv1d==1.5.2
mamba-ssm==2.2.5
scipy==1.15.3
tqdm==4.67.3
yacs==0.1.8
Cython
matplotlib>=3.2.2
numpy==2.2.6
opencv-python==4.13.0.92
Pillow
PyYAML>=5.3
scipy==1.15.3
tensorboardX
seaborn
prefetch_generator
imageio
scikit-learn
einops==0.8.2
fvcore
ninja==1.13.0

